* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #aaa6a6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 25px;
}

.box {
  width: 150px;
  height: 70px;
  position: relative;
  border: black 1px solid;
  margin: 20px;
}

.head-box {
  display: flex;
  margin: 10px;
}

.bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.box-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-1::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "COOL!";
  position: absolute;
  background-color: red;
  width: 150px;
  height: 70px;
  top: 0;
  transform: translateY(-70px);
  transition: transform 1.5s;
}

.box-1:hover::before {
  transform: translateY(0);
}

.box-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-2::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  background-color: blue;
  opacity: 0.9;
  width: 150px;
  height: 70px;
  left: 0;
  z-index: -1;
  transform: translateX(-150px);
  transition: transform 1.5s;
}

.box-2:hover::before {
  transform: translateX(0);
  font-weight: bold;
}

.box-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-3::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  background-color: yellow;
  width: 70px;
  height: 150px;
  z-index: -1;
  transform: translate(-111px, 109px);
  transition: transform 1.5s;
}

.box-3:hover::before {
  transform: rotate(-90deg);
}

.box-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-4::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "SCALE";
  position: absolute;
  background-color: black;
  color: white;
  width: 150px;
  height: 70px;
  font-size: 5px;
  z-index: 2;
  transform: scale(13);
  transition: all 1.5s ease-in-out;
  opacity: 0;
}

.box-4:hover::before {
  transform: scale(5);
  opacity: 1;
  width: 150px;
  height: 70px;
}

.box-5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-5:hover {
  transform: skew(20deg);
}

.box-5::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  background-color: rgb(184, 16, 145);
  width: 150px;
  height: 70px;
  z-index: -1;
  transform: scale(6);
  transition: all 2s ease-in-out;
  opacity: 0;
}

.box-5:hover::before {
  opacity: 1;
  transform: scale(1) skew(180deg, 180deg);
}

.box-5 span:hover {
  transform: skewY(20deg);
}
