* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #d7d3d3;
  width: 100%;
  display: flex;
}

.box {
  background: red;
  width: 190px;
  height: 300px;
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  background: blue;
  height: 100%;
  width: 50%;
}

.box:hover::before {
  content: "";
  position: absolute;
  background-color: blueviolet;
  /* height: 100%; */
  /* width: 50%; */
}
