* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  background: black;
  color: azure;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box h3 {
  display: flex;
  justify-content: center;
}

.box {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 3px solid rgb(247, 110, 133);
  padding: 15rem;
  font-size: 1.5rem;
}

.box::before {
  content: "";
  position: absolute;
  top: 25%;
  left: -3px;
  border: 3px solid rgb(0, 0, 0);
  height: 50%;
  width: 100%;
}

.box::after {
  content: "";
  position: absolute;
  border: 3px solid rgb(0, 0, 0);
  top: -3px;
  left: 25%;
  height: 100%;
  width: 50%;
}
