* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  background: rgb(199, 189, 189);
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main h1 {
  margin-bottom: 3rem;
  color: aliceblue;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: blueviolet;
}

a::after {
  content: "(" attr(someAttribute) ")";
  color: blueviolet;
}
